body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  cursor: pointer;
  background: #22c55e;
}

.game-card {
  background: #1e293b;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
a {
  color: #38bdf8;
}

.game-img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}